@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background-image:url(../images/happy_new_year_2013-wide.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}


#container {
	background-color:#FFF;
	max-width:1000px;
	min-width:800px;
	margin:0px auto;
	border-left:#252017 solid 1px;
	border-right:#252017 solid 1px;
		}
		
.tip{
	color:#999;
	font-style:italic;
	font-size:inherit;
	font-family:inherit;
}

#c_id{
  visibility: hidden ;
}

#topBar{
	display:block;
	height:26px;
	width:99.7%;
	padding:2px;
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:#000;
	color:#FFF;
	text-align:right;
}

#topBar label{
	color:red;
	}
#topBar a:link, #topBar a:visited{
	color:#FFF;
}
#topBar a:hover{
	color:#F00;
	}
#signUp{
	width:174px;
	height:374px;
	
	
	background-color:#FFF;
	border:#FFF solid 1px;
	z-index:50;
	padding:10px;
	position:absolute;
	top:31px;
	right:298px;
	color:#999;
	text-align:left;
	box-shadow: 6px 6px 21px #222;
	display:none;
}

#signUp label{
	display:block;
	color:red;
	}
#banner {
	background-image:url(../images/bannerfans_5989998.jpg);
	width:100%;
	height:100px;
	/*border:#FFF solid 1px;*/
	
	}
/*Navigation Bar*/
#nav{
	list-style-type:none;
	margin:0px;
	padding:0;
	width:100%;
	height:42px;
	background-color:#4d4d4d;
	}
#nav li{
	margin:0;
	width:16%;
	float:left;
	
	}
#nav a{
	display:block;
	text-decoration:none;
	padding:10px 30px;
	font-weight:bold;
	color:#E7E7E7;
	border-right:#777 solid 1px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	height:100%;
	
	}
#nav a:link, #nav a:visited{
	background-color:#4d4d4d;
	}
#nav a:hover, #nav a:focus, #nav a:active{
	background-color:#333;
	}
/*Grid view links*/
.productView li{
	margin:0;
	width:35%;
	float:left;
}
.productView li a{
	display:block;
	text-decoration:none;
	padding:5px 15px;
	font-weight:bold;
	color:#000;
	
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	}
/*left sidebar*/	


#inner{
	width:83%;
	float:left;
	background-color:#FFF;
}

#leftSidebar{
	background-color:#E7E7E7;
	width:18.66%;
	padding:10px;
	/*border-right:#555 solid 1px;
	border-bottom:#555 solid 1px;*/
	/*border-radius:5px;*/
	height:100%;
	float:left;
	font-weight:bold;
	font-size:17px;
	}
#searchBar{
/*	padding:8px;*/
	}
#leftNav{
	list-style-type:none;
	margin-top:5px;
	padding:0px;
	
	height: 300px;
	}

#leftNav li{
	margin:0;
	
	height:30px;
	
	}
#leftNav a{
	text-align:left;
	
	text-decoration:none;
	display:block;
	color:#222;
	font-weight:bold;
	font-size:16px;
	font-family:"Courier New", Courier, monospace;
	padding:0.5em 0;
	padding-left: 31px;
	border-bottom:#DDD solid 1px;
	border-top:#DDD solid 1px;
	}

#leftNav a:link, #leftNav a:visited{
	background-color:#E7E7E7;
	}
#leftNav a:hover, #leftNav a:focus, #leftNav a:active{
	background-color:#F7F7F7;
	color:#000;
	}
	
#main{
	width:73%;
	padding:10px 2%;
	float:left;
	
	}
#slideShow{
	width:97%;
	dispaly:none;
	float:left;
	margin:10px;
	
	}

#slideShow .slides_container div {
	width: 600px;
	height:200px;
	display:block;
	
	
	}
	
#slideShow .slides_container img {
	width:100%;
	height:100%;
        
	
	
	}
	
#slideShow .pagination li {
	float:right;
	margin:2px 4px;
	list-style:none;
}

#slideShow .pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

#slideShow .pagination li.current a {
	background-position:0 -12px;
}



.subbanner{
	height:20px;
	width:97%;
	font-size:16px;
	font-weight:bold;
	padding:3px 8px;
	margin:3px auto;
	background-color:#F00;
	border:#FFF solid 1px;
	border-radius:9px;
	display:block;
	float:left;
	color:#FFF;
}

.productView {
	width:28%;
	height:220px;
	display:block;
	border:#eee solid 1px;
	border-radius:5px;
	float:left;
	margin:10px;
	padding:0 0 0 8px;
	}

.preview{
	
	width:91%;
	height:120px;
	/*border-bottom:#EEE solid 1px;*/
	margin:1px auto;
	
	}
.preview img{
	margin:15px 1px;
	z-index:-1;
	}
.previewPrice{
	
	font-size:16px;
	text-align:left;
	font-weight:bold;
	color:#333;
	margin:3px;

	}


.title{
	font-family:Georgia, "Times New Roman", Times, serif;
	height:30px;
	padding:0px 2px 0px 2px;
	text-align:left;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	
	}
.title a{
		text-decoration:none;
	}

.previewButton input{
	margin:0px 2px;
	float:left;
	font-size:11px;
	display:block;
	padding:2px;
	font-family:Verdana, Geneva, sans-serif;
	}

#rightSidebar{
	float:right;
	width:15%;
	
	height:50%;
    padding:10px 2px;	
	
	}

        #shoppingCart{
            height:138px;
            position: relative;
        }
        
        #itemNum{
           position: absolute;
           color:white;
           top:35px;
           left: 64px;
           z-index: 2;
           font-weight: bolder;
           font-size: 16px;
           font-family: Verdana, Geneva, sans-serif;
            
        }

#payments{
	height:256px;
	background-image:url(../images/payment2.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	
	}
#guaranteed{
	height:154px;
	background-image:url(../images/14_day_money_back_guarantee_small.jpg);
	background-repeat:no-repeat;
	background-position:bottom;
	}
#footer{
	clear:both;
	
	/*border-radius: 5px;*/
	height:100px;
	margin-top:3px;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	
	
	background-image:url(../images/bannerfans_5998602.jpg);
	background-repeat:no-repeat;
	
	}

/*table*/
table #head{
	width:600px;
	border:#DDD solid 1px;
	border-collapse:collapse;
	margin:15px;
	
	
	}


table{
	width:600px;
	border:#DDD solid 1px;
	border-collapse:collapse;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	margin:15px;
    
	
	
	}

td{
	padding:15px 10px;
	text-align:center;
	border-bottom:#DDD solid 1px;
	border-left:#DDD solid 1px;
	
	vertical-align:middle;
	
	}
th{
	background-color:#FF7B3C;
	padding:5px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	/*border:#000 solid 1px;*/
	}


tr:first-child > td:first-child{
		width:15%;
	}
#ordertable tr:first-child > td:first-child{
		width:40%;
	}
/*tr:first-child > td:nth-child(2){
		width:50%;
		
	}	

tr:first-child > td:nth-child(3){
		width:20%;
	}	

tr:first-child > td:nth-child(4){
		width:15%;
	}*/	
	
/*Detail page*/
#slideShowDetail{
	width:50%;
	dispaly:none;
	float:left;
	margin:10px;
	border:black solid 1px;
	}

#slideShowDetail .slides_container div {
	width: 300px;
	height:200px;
	display:block;
	
	
	
	}
	
#slideShowDetail .slides_container img {
	width:100%;
	height:100%;
       
	
	}
#slideShowDetail .pagination{
        border-top: 1px solid black;
        }
#slideShowDetail .pagination li {
	float:left;
	margin:2px 4px;
	list-style:none;
}

#slideShowDetail .pagination li a {
	display:block;
	
	height:50px;
	margin:1px;
	float:left;
	background:#f9f9f9;
}

#slideShowDetail .pagination li.current a {
	border:1px solid #7f7f7f;
	margin:0;
}

#detail {
	width:45%;
	padding:8px;
	margin: 10px 10px 10px 54%;
	height:242px;
	

}
.detailID {
	display:none;
	}
.detailTitle{
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	margin:10px;
	color:#06F;
	font-weight:bold;
	}
.detailPrice {
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	margin:20px 10px 10px 10px;
	color:#F30;
	font-weight:bold;
	}
.detailQuantity {
	font-family:Verdana, Geneva, sans-serif;
	font-size:24px;
	margin:20px 10px 10px 10px;
	color:#06F;
	font-weight:bold;
	}
.detailQuantity p{
	margin: 15px 10px 10px 10px;
	}
	
.description{
	width:100%
	display:block;
	
    padding:12px;
	}
.description img{
	margin:3px auto;
	display:block;
	}

h2{
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	margin:15px;
}

p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:1.2em;
	margin-top:10px;
	margin-bottom:10px;
	}

#address{
	width:60%;
	margin:80px auto;
	padding:20px;
	display:block;
	border:#CCC solid 1px;
	box-shadow: 6px 6px 21px #222;
	
	
}

#address label{
	display:block;
	margin-top:14px;
	margin-bottom:10px;
	
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bold;
	color:#666;
	
	}
#address label[class*="error"]{
	display:block;
	color:red;
	font-size:14px;

	
	}

	

input[type*="submit"]{
	background: #dedede;
	
	border:1px solid #ababab;
	border-radius: 6px;
	color:#666;
	font-size: 14px;
	font-weight: bold;
	margin:5px;

	

}


input[type*="submit"]:hover{
		background:#666 ;
	
	border:1px solid #ababab;
	border-radius: 6px;
	color:#dedede;
	font-size: 14px;
	font-weight: bold;
	
	}
input[name*="addToCart"]{
	background:#E84B00;
	
	border:1px solid #ababab;
	border-radius: 6px;
	color:#FFF;
	font-size: 14px;
	font-weight: bold;
	margin-left:-3px;

	

}
input[name*="addToCart"]:hover{
	background:#FFF;
	
	border:1px solid #ababab;
	border-radius: 6px;
	color:#E84B00;
	font-size: 14px;
	font-weight: bold;
	margin-left:-3px;
	

}

#cartbotton{
    margin-left: 26%;
}

#cartbotton a{
    text-decoration: none;
    
}
#cartbotton input[type*="submit"]{
    font-family:Verdana, Geneva, sans-serif;
    font-size: 17px;
}
.indent1{
    margin-left: 3em;
}	
.indent2{
    margin-left: 5em;
}
html{
    overflow-y: scroll;
}